.info-bar-container {
     /* Adjust as needed */
    padding: 10px 0;
  }
  
  .icon {
    color: #0066cc; /* Example icon color */
  }
  
  p {
    font-size: 0.9rem;
    color: #333;
  }
  
  p.mb-0 {
    margin-bottom: 0;
  }
  